/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/resources/out

.envrc
.direnv/
shell.nix

.cpcache/
.shadow-cljs/
node_modules/
out/
public/js/
yarn-error.log
